name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      DEBUG_TEST_SETUP: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Set up Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18

      - name: setup-foundry
        uses: foundry-rs/foundry-toolchain@de808b1eea699e761c404bda44ba8f21aba30b2c # v1.3.1

      - name: Install dependencies
        run: npm install # npm install instead of npm ci is used to prevent unsupported platform errors due to the fsevents sub-dependency

      - name: Setup Deno
        uses: denoland/setup-deno@041b854f97b325bd60e53e9dc2de9cb9f9ac0cba # v1.1.4
        with:
          deno-version: '1.36.2'

      - name: start-anvil
        run: anvil --chain-id 1337 &

      # 'integration' are the Jest tests that cover code in unit-testing way, so both are included
      - name: Run unit tests
        run: npm run test:ci

      - name: Upload test coverage report
        if: always()
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: unit-tests-coverage
          path: ./coverage/lcov.info
